<div class="sixteen columns">
  <h3>Manage Your Subscriptions</h3>
</div>
  <% @shredder.subscriptions.each do |subscription| -%>
  <div class="one-third column">
    <div class="alert-notice sub">
      <a href="<%= edit_subscription_url(subscription) %>"><span class="desc"><%= subscription.description %></span>
      <span class="threshold"><%= subscription.inches %>&quot;</span>
      <span class="area">@<%= subscription.area.name %></span></a>
    </div>
  </div>
  <% end -%>
  <div class="one-third column">
    <div class="alert-green sub">
      <a href="<%= new_subscription_path %>"><span class="desc">New Text Alert</span>
      <span class="threshold">+</span>
    </a>
    </div>
  </div>
  <div class="one-third column">
    <div class="alert-green sub">
      <a href="<%= new_voice_subscription_path %>"><span class="desc">New Voice Alert</span>
      <span class="threshold">+</span>
    </a>
    </div>
  </div>
