<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>conepatrol - powder alerts for mt bachelor, and many other pacific northwest ski resorts</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>

  <div class="container">
    <div class="logo sixteen columns">
      <a href="/"><h1 class="logo" style="margin-top: 40px">Cone Patrol</h1></a>
    </div>
    <% if flash[:notice] || flash[:error] -%>
    <div class="sixteen columns">
      <% if flash[:notice] -%>
        <div class="alert-notice"><%= flash[:notice] %></div>
      <% else -%>
        <div class="alert-error"><%= flash[:error] %></div>
      <% end -%>
    </div>
    <% end -%>
      <%= yield %>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-509d31c264fa6410"></script>
<!-- AddThis Button END -->
      
      <div class="sixteen columns">
        <div class="footer">
          <ul class="footerlinks">
            <li><a href="http://blog.conepatrol.com">Cone Patrol Blog</a></li>
            <li><a href="http://twitter.com/conepatrolapp">Twitter: @conepatrolapp</a></li>
            <li><a href="http://haiku2.com">Made In Bend, OR</a></li>
          </ul>
        </div>
      </div>
  </div><!-- container -->
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <%= javascript_include_tag "application" %>
  <% if Rails.env.production? -%>
  <script type='text/javascript'>
   var _springMetq = _springMetq || [];
   _springMetq.push(['id', '7ee4a4a170']);
   (
    function(){
     var s = document.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     s.src = ('https:' == document.location.protocol ? 'https://d3rmnwi2tssrfx.cloudfront.net/a.js' : 'http://static.springmetrics.com/a.js');
     var x = document.getElementsByTagName('script')[0];
     x.parentNode.insertBefore(s, x);
    }
   )();
 </script>
 <% end -%>
</body>
</html>
